<launch>
    <arg name="config"          default="tmr" />

    <!-- MASTER NODE -->
    <node name="mins_subscribe" pkg="mins" type="subscribe" output="screen" clear_params="true" required="true">
        <param name="config_path"       type="str"  value="$(find mins)/config/$(arg config)/config.yaml" />
        <remap from="/mins/imu/odom"           to="/localization/global_fused" />
    </node>
</launch>
